body {
  background-image: url('../public/images/casino.jpg');
  background-size: cover;
  font-family: 'Arial', sans-serif;
  background-color: #fafafa;
  color: #333;
}

#gameContainer {
  width: 500px;
  margin: auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}


input[type="text"], input[type="number"] {
  width: 71%; 
  padding: 8px;
  margin: 10px 0; /* Space around input fields */
  border: 1px solid #ddd; /* Subtle border */
  border-radius: 4px; /* Match the rounded style */
  box-sizing: border-box; /* Border and padding included in width */
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
}


@media (max-width: 600px) {
  #gameContainer {
      width: 100%;  /* Full width for better use of space */
      padding: 10px;
  }

  .reel {
      width: 25%;  /* Adjust based on the total width of the game container */
      height: 75px; /* Adjust height accordingly */
  }

  .symbol {
      font-size: 16px; /* Smaller font size for smaller reels */
  }
}


#reelContainer {
  display: flex; /* This ensures that reels are laid out horizontally */
  justify-content: center; /* Center the reels horizontally */
  align-items: center; /* Align reels vertically */
  padding: 10px;
  gap: 10px; /* Space between each reel */
}

.reel {
  width: 60px; /* Width of each reel */
  height: 180px; /* Total height of each reel */
  display: flex;
  flex-direction: column; /* Stack symbols vertically */
  justify-content: space-around; /* Evenly space out symbols */
  align-items: center; /* Center symbols horizontally */
  border: 2px solid #ccc; /* Border around each reel */
  background-color: #f4f4f4; /* Light background for reels */
  border-radius: 10px; /* Rounded corners for aesthetics */
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);  /* Enhanced shadow for 3D effect */
  overflow: hidden; /* New - Ensures that symbols moving out of this container are not visible */
  position: relative; /* New - Allows absolute positioning of children relative to reel */
}

.symbol {
  font-size: 24px; 
  font-weight: bold; 
  color: #333; 
  padding: 8px;
}

.symbol.highlight {
  background-color: gold; 
  color: black;
  border: 2px solid red; 
}

#messageDisplay {
  margin: 10px 0;
  font-size: 16px;
  color: #d00; 
}

.message-success {
  color: #080; 
}

.message-info {
  color: #00f;
}

button:active {
  transform: scale(0.98);  /* Slight push effect on click */
}

.messageDisplay {
  transition: color 0.3s ease; /* Smooth transition for message color changes */
}